.business-lines{
    margin-top: 100px;
    padding-left: calc(50% - 625px);
    padding-right: calc(50% - 625px);
}
.business-title{
    font-family: var(--font-family);
    margin-bottom: 55px;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    text-align: center;
    color: #444;
}


@media (max-width: 720px) {
    .business-lines{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 50px;
        padding-left: calc(50% - 145px);
        padding-right: calc(50% - 145px);
    }
    .business-title{
        font-size: 25px;
        margin-bottom: 15px;
      
    }
}