.business-item {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 615px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.business-item:hover {
    transform: scale(1.05);
}
.p-wrapper{
    position: absolute;
    top: 180px;
    width: 615px;
    height: 80px;
    background: rgba(45, 54, 83, 0.6);
    transition: height 0.1s ease;
    
    
}
.visible{
    top: 0px;
    
    height: 260px;
    
}
.business-key {
    padding-left:20px;
    margin-left:20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    cursor: pointer;
}

.business-description {
    margin-left:20px;
    margin-top: 20px;
    height: 96px;
    width: 480px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: rgba(255, 255, 255, 1);
    display: block;
    
}
.arrow_white{
    display: none;
}

@media (max-width: 720px) {
    .business-item {

        height: 60px;
        width: 280px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        overflow: hidden;
    }
    
    .business-item:hover {
        transform: scale(1.05);
    }
    .p-wrapper{
        display: flex;
        top: 0px;
        width: 280px;
        height: 60px;
        align-items: flex-start;
        padding-top: 0px;
        flex-direction: column;
      
        
    }
    .visible{
        top: 0px;
        
        height: 260px;
        
    }
    .business-key {
        padding-left: 0px;
        padding-right: 50px;
        margin-left:10px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #fff;
        text-align: start;
 
    }
    
    .business-description {
        margin-left:10px;
        margin-top: 10px;
        height: 96px;
        width: 280px;
        font-size: 16px;
     
        
    }

    .arrow_white{
        position: absolute;
        top: 12px;
        right: 12px;
        height: 36px;
        width: 36px;
        fill: #fff;
    }
}