ul{
  list-style: none;
  }
  li {
  text-decoration: none;
  }
  .map{
  padding-left: calc(50% - 625px);
  padding-right: calc(50% - 625px);
  }
  .dropdown {
  
  display: inline-block;
  }
  
  .dropdown-button {
  margin-left: 70px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--1);
  background: #fff;
  border-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  }
  
  .arrow {
    
    transition: transform 0.3s;
  }
  .arrow_mini{
    display: none;
    height: 4px;
    width: 8px;
  }
  
  .down {
  transform: rotate(0);
  }
  
  .up {
  transform: rotate(180deg);
  }
  
  .dropdown-menu {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 1250px;
  max-height: 272px;
  z-index: 10;
  box-sizing: border-box;
  padding: 30px 68px;
  }
  
  .dropdown-menu__colums{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 24px;
  }
  .cities-column{
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap:10px;
  padding: 0px;
  margin: 0px;
  }
  
  .dropdown-menu li{
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: background-color 0.3s;
  }
  
  .dropdown-menu li :hover{
  color: #A30C33;
  }
  
  .dropdown-menu__colums_region{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  color: #444;
  text-decoration: none;
  
  
  }
  
  
  .dropdown-menu__colums_city{
  display: block; /* Элементы отображаются по умолчанию */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #444;
  text-decoration: none;
  transition: background-color 0.3s;
  }
  
  .overlay-menu {
  opacity: 0.1;
  }
  .overlay-img {
  opacity: 0.3;
  
  }
  .container{
  
  
  }
  
  .map-top{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  height: 80px;
  }
  
  .map-menu{
  display: flex;
  gap: 30px;
  margin-right: 70px;
  }
  
  .map-menu__region{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  color: var(--1);
  height: 80px;
  display: flex;
  align-items: center;
  
  }
  
  .active{
  color: #a30c33;
  border-bottom: 3px solid #a30c33;
  }
  
  .map-img-container{
  margin-top: 90px;
  height: 600px;
  width: 1190px;
  }
  .map-img{
  
  height: 600px;
  
  width: 1190px;
  }
  
  @media (max-width: 720px) {
  .map {
    margin-top: 50px;
    height: 469px;
  overflow-x: auto;
  padding-left: calc(50% - 145px);
  padding-right: calc(50% - 145px);
  
  }
  .map-top{
  flex-direction: column;
  align-items: flex-start;
  height: 95px;
  width: 700px;
  }
  .dropdown-menu__colums_city{
    font-size: 14px;
    font-weight: 400;
    color: var(--1);
  }
  .dropdown-menu {
  position: absolute;
  top: 0px;
  left: 0;
  width: 290px;
  max-height: 200px;
  z-index: 10;
  padding: 5px;
  max-height: none;
  }
  .dropdown-menu li{
    gap: 15px;
  }
  .dropdown-menu__colums{
    margin-top: 53px;
    gap: 15px;
    display: grid;
    grid-template-columns: 50px 40px 150px;
    grid-auto-rows: auto;
    grid-column-gap: 41px;
    justify-content: start;
  }
  .dropdown-menu__colums_region{
  font-family: var(--second-family);
  font-size: 14px;
  display: flex;
  gap: 3px;
  flex-wrap: nowrap;
  align-items: center;
  }
  .arrow_mini{
    display: block;
  }
  .dropdown-button{
  position: relative;
  z-index: 15;
  margin-left: 5px;
  margin-top: 15px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: var(--1);
  background: #fff;
  border-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  }
  .map-menu__region{
  font-size: 14px;
  height: 54px;
  }
  .cities-column.open{
  max-height: 200px;
  }
  }