.mission-wrapper {
    margin-top: 100px;
    background-size: cover;
    height: 471px;
    width: 1250px;

    padding-left: calc(50% - 625px);
    padding-right: calc(50% - 625px);
}
.mission {
    &__container {
        position: relative;
        background: #cb0f41;
        height: 471px;
        overflow: hidden;
    }
    &__pattern {
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 47px;

        width: 348px;
        height: 376px;

        &--left {
            z-index: 1;
            left: 0px;
            &-2 {
                left: 0px;
                opacity: 0.4;
                z-index: 2;
            }
        }
        &--right {
            transform: scale(-1, -1);
            right: 0px;
            z-index: 1;
            &-2 {
                transform: scale(-1, -1);
                opacity: 0.4;
                right: 0px;
                z-index: 2;
            }
        }
    }
    &__content {
        position: absolute;
        background: rgba(163, 12, 51, 0.5);
        height: 471px;
        z-index: 2;
    }
    &__about {
        margin: 139px 70px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    &__title {
        font-family: var(--font-family);
        margin: 0px;
        height: 56px;
        position: relative;
        z-index: 3;
        font-weight: 600;
        font-size: 56px;
        line-height: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }
    &__text {
        margin: 0px;
        height: 96px;
        position: relative;
        z-index: 3;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }
}

@media (max-width: 720px) {
    .mission-wrapper {
        margin-top: 50px;
        height: 186px;
        width: 290px;
        padding-left: calc(50% - 145px);
        padding-right: calc(50% - 145px);
    }
    .mission {
        &__container {
            height: 186px;
        }
        &__pattern {
            top: 20px;
            width: 143px;
            height: 155px;
            &--left {
                left: -27px;
                &-2 {
                    left: -27px;
                }
            }
            &--right {
                right: -27px;
                &-2 {
                    right: -27px;
                }
            }
        }
        &__content {
            position: absolute;
            background: rgba(163, 12, 51, 0.5);
            height: 186px;
            width: 290px;
            z-index: 2;
        }

        &__about {
            width: 280px;
            margin-top: 32px;
            margin: 32px 5px;
            gap: 10px;
        }
        &__title {
            font-size: 28px;
            height: 28px;
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
        }
    }
}
