.slider {
    margin-top: 55px;
    padding-left: calc(50% - 555px);
    padding-right: calc(50% - 555px);

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 58px;
        margin-top: 103px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 56px;
        line-height: 100%;
        color: var(--1);
    }

    &__indicator {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        margin-bottom: 50px;
    }

    @media (max-width: 720px) {
        margin-top: 55px;
        padding-left: calc(50% - 145px);
        padding-right: calc(50% - 145px);

        &__top {
            margin-bottom: 15px;
        }

        &__title {
            font-size: 26px;
        }

        &__img {
            width: 280px;
            height: 210px;
        }

        &__button {
            display: none;
        }

        &__indicator {
            display: none;
        }
    }
}